{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="card bg-alpha my-5 p-2 ">
        <div class="card-body">
            <h5 class="card-title px-2 fs-1 fw-bold">Контактная информация</h5>
            <div class="my-4 px-2" style="word-break: break-all">
                <table class="container-fluid table-light table-bordered">
                    <tr>
                      <td class="p-3">Адрес:</td>
                      <td class="p-3">район ЦТП, здание 7, Нижневартовск, Россия, 628600</td>
                    </tr>
                    <tr>
                      <td class="p-3">Телефон:</td>
                      <td class="p-3">8 (3466) 614615</td>
                    </tr>
                    <tr>
                      <td class="p-3">Электронная почта:</td>
                      <td class="p-3">info@lsr-nv.ru</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="container">
  <div class="card bg-alpha my-5 p-2 ">
    <div class="card-body">
      <h5 class="card-title px-2 fs-1 fw-bold">Реквизиты организации</h5>
      <div class="my-4 px-3" style="word-break: break-all">
        <table class="container-fluid table-light table-bordered">
          <tr>
            <td class="p-3">Наименование компании:</td>
            <td class="p-3">Общество с ограниченной ответственностью «ЛесСтройРеконструкция»</td>
          </tr>
          <tr>
            <td class="p-3">Сокращенное наименование:</td>
            <td class="p-3">ООО «ЛСР»</td>
          </tr>
          <tr>
            <td class="p-3">Юридический адрес:</td>
            <td class="p-3">628600, Россия, ХМАО-Югра, г. Нижневартовск, район ЦТП, здание 7</td>
          </tr>
          <tr>
            <td class="p-3">Фактический адрес:</td>
            <td class="p-3">628600, Россия, ХМАО-Югра, г. Нижневартовск, район ЦТП, здание 7</td>
          </tr>
          <tr>
            <td class="p-3">ИНН:</td>
            <td class="p-3">8603094902</td>
          </tr>
          <tr>
            <td class="p-3">КПП:</td>
            <td class="p-3">860301001</td>
          </tr>
          <tr>
            <td class="p-3">Банк получателя:</td>
            <td class="p-3">филиал ОАО «УралСиб» в г.Челябинск</td>
          </tr>
          <tr>
            <td class="p-3">Расчетный счет:</td>
            <td class="p-3">40702810353000000148</td>
          </tr>
          <tr>
            <td class="p-3">Корреспондентский счет:</td>
            <td class="p-3">30101810300000000976</td>
          </tr>
          <tr>
            <td class="p-3">БИК:</td>
            <td class="p-3">047501976</td>
          </tr>
          <tr>
            <td class="p-3">ОКПО:</td>
            <td class="p-3">54097148</td>
          </tr>
          <tr>
            <td class="p-3">ОГРН:</td>
            <td class="p-3">1028600945482</td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}


